html {
	height: 100%;
	width: 100%;
}

body {
	font-family: sans-serif;
	margin: 0 auto;
	max-width: 1000px;
	height: 100%;
}

.component {
	margin: 1em 0;
	border: 1px solid white;
	outline: 1px solid black;
}

body.wc {
	overflow: hidden;
}

body.wc .component {
	margin: 0;
	height: 100%;
	overflow: auto;
}