.vue-component .highlight-box {
	box-shadow: 0 0 0 0.2em #c8e1ff;
}

/* Comma separated list */
.vue-component .comma-separated-list {
	display: inline;
	list-style: none;
	padding: 0;
}
.vue-component .comma-separated-list li {
	display: inline;
	padding: 0;
}
.vue-component .comma-separated-list li:after {
	content: ", ";
}
.vue-component .comma-separated-list li:last-child:after {
	content: "";
}

/* The required star */
.vue-component .required {
	color: red;
	font-weight: bold;
}

/* Message blocks (Notices, errors, warnings, ...) */
.vue-component.message-block {
	margin: 1em 0;
	padding: 0.5em;
}
.vue-component.message-block strong {
	display: block;
	margin-bottom: 0.5em;
}
.vue-component.message-block p {
	margin: 0;
}

/* Styling process signatures (incl. examples) */
.vue-component .param-name, .process-name {
	color: #369;
}
.vue-component .argument, .return-value {
	color: #936;
}
.vue-component .data-type {
	color: #693;
}
.vue-component .optional {
	font-weight: bold;
}

/* Badges */
.vue-component .badges {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
}
.vue-component .badges .badge {
	display: inline-block;
	font-size: 0.8em;
	margin: 0.25em;
	padding: 0.35em 0.5em;
	line-height: 1em;
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	vertical-align: baseline;
	border-radius: 3px;
	color: #fff;
	background-color: #6c757d;
}
.vue-component .badges.small .badge {
	padding: 0.2em 0.3em;
	font-size: 0.75em;
}
.vue-component .badges .badge a {
	color: #fff;
	border-bottom: 1px dotted #fff;
	text-decoration: none;
}
.vue-component .badges .badge a.badge-fill {
	margin: -0.35em -0.5em;
	padding: 0.35em 0.5em;
	display: block;
	border-bottom: 0px;
}
.vue-component .badges.small .badge a.badge-fill {
	margin: -0.2em -0.3em;
	padding: 0.2em 0.3em;
}
.vue-component .badges .badge a:hover {
	color: #fff;
	border-bottom-style: solid;
}
/* Badges for UDFs */
.vue-component .badges .docker {
	background-color: #0db7ed;
}
.vue-component .badges .default {
	background-color: black;
}

/* Table like lists */
.vue-component .tabular {
	display: flex;
	margin: 0.2em 0;
	padding: 1px;
}
.vue-component .tabular label {
	flex: 1;
	font-weight: bold;
}
.vue-component .tabular .value {
	flex: 3;
	overflow: auto;
}
.vue-component .tabular .value > ul, .vue-component .tabular ul.value, .vue-component .tabular .value td > div {
	max-height: 15em;
	overflow: auto;
}